        .ctl00_Menu1_0 {
            background-color: white;
            visibility: hidden;
            display: none;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .ctl00_Menu1_1 {
            color: #7C6F57;
            font-family: Verdana;
            text-decoration: none;
        }

        .ctl00_Menu1_2 {
            color: #7C6F57;
            background-color: #F7F6F3;
            font-family: Verdana;
        }

        .ctl00_Menu1_3 {
            text-decoration: underline;
        }

        .ctl00_Menu1_4 {
            padding: 2px 5px 2px 5px;
        }

        .ctl00_Menu1_5 {
        }

        .ctl00_Menu1_6 {
            padding: 2px 5px 2px 5px;
        }

        .ctl00_Menu1_7 {
            background-color: #F7F6F3;
        }

        .ctl00_Menu1_8 {
        }

        .ctl00_Menu1_9 {
            background-color: #5D7B9D;
        }

        .ctl00_Menu1_10 {
        }

        .ctl00_Menu1_11 {
            background-color: #5D7B9D;
        }

        .ctl00_Menu1_12 {
            color: White;
        }

        .ctl00_Menu1_13 {
            color: White;
            background-color: #7C6F57;
        }

        .ctl00_Menu1_14 {
            color: White;
        }

        .ctl00_Menu1_15 {
            color: White;
            background-color: #7C6F57;
        }


.navbar-static-top {
  margin: 0;
  border: 0;
  color: #7fffD4;
}
a:link {
    color: black;
}
.navbar-top {
  
  font-size: 12px;
  padding: 3px 0;

}
.navbar-top .list-inline {
  margin-bottom: 0;
}
.navbar-top .header-contact li {
  margin-right: 15px;
}
.navbar-top .header-contact li .fa {
  margin-right: 5px;
}

.navbar-main {
  margin-bottom: 0;
  color: #fff; background: #031128; /* Old browsers */
}
.navbar-main .navbar-brand {
  border-bottom: none !important;
}
.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a:focus,
.navbar-main a.is-active {
  background: none !important;
  color: inherit;
  border-bottom: 2px solid #fff;
}
.navbar-main .submenu {
  position: absolute;
  list-style: none;
  background: #1f76bd;
  padding: 0;
  width: 150px;
  left: -35px;
  visibility: hidden;
  top: 85px;
  -moz-transition: all, 0.05s;
  -o-transition: all, 0.05s;
  -webkit-transition: all, 0.05s;
  transition: all, 0.05s;
}
.navbar-main .submenu li {
  border-top: 1px solid #185b91;
}
.navbar-main .submenu li:hover {
  background: #000066;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.navbar-main .submenu li a {
  width: 100%;
  border-bottom: none;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
}
.navbar-main li a {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  padding: 20px 15px;
  border-bottom: 2px solid transparent;
}
.navbar-main li:hover .submenu {
  top: 62px;
  visibility: visible;
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s;
}
.navbar-main .icon-bar {
  background: #fff;
}
div.footer{
	background-color:black;
	
}


